<% layout('/layouts/boilerplate') %>

<% for (let pet of pets) { %>
<div class="card mb-3 margin: 0px;">
  <div class="row" style="margin:0px; padding: 0px; border: 0px;">
    <div class="col-md-4 shadow border border-0 " style="padding: 0px; border: 0px; margin: 0px;">
      <% if(pet.images.length) { %>
      <a href=" /pets/<%=pet._id%>"><img class="img-fluid" alt="" src="<%=pet.images[0].url%>" /></a>
      <% } else { %>
      <a href="/pets/<%=pet._id%>"><img class="img-fluid" alt="" src="https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" /></a>
      <% } %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= pet.namePets %></h5>
        <small class="text-muted"><%= pet.typeAnimal %></small>
        <p class="card-text"><%= pet.description %></p>

        <a href="/pets/<%=pet._id%>" class="btn btn-primary">View post</a>
      </div>
    </div>
  </div>
</div>
<% } %>